.nevbar {
    margin-top: 10px;
    padding: 10px;
}

.nevbar .logo {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.nevbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nevbar .links a {
    color: #fff;
    margin: 0 20px 0 10px;
    list-style: none;
}

.nevbar .links a:hover {
    color: #f48915;
}

@media (max-width:767px) {
    .nevbar .links {
        display: flex;
        position: fixed;
        right: 2rem;
        top: 2rem;
        background-color: #3c3f45;
        flex-direction: column;
        padding: 2rem;
        color: #fff;
        gap: 2rem;
        z-index: 99;
    }
}