.information .container {
    display: flex;
    height: 500px;
}

.information .imageParti {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-right: 70px;
}

.information .infoParti {
    width: 50%;
}

.information .imageOne {
    height: 100%;
}

.information .partiOne {
    width: 30%;
    height: 100%;
}

.information .partiOne img {
    width: 100%;
    height: 102%;
}

.information .partiTwo {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.information .partiTwo .imageTwo {
    width: 100%;
    height: 60%;
}

.information .partiTwo .imageTwo img {
    width: 100%;
    height: 100%;
}

.information .partiTwo .restImages {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 23px;
}

.information .partiTwo .restImages .imageThree {
    width: 65%;
}

.information .partiTwo .restImages .imageThree img {
    width: 100%;
    height: 65%;
}

.information .partiTwo .restImages .imageFour {
    width: 30%;
}

.information .partiTwo .restImages .imageFour img {
    width: 100%;
}

.stroke-text {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

.information .infoParti p {
    color: #f48915;
    font-weight: 700;
    margin-bottom: 15px;
}

.information .infoParti h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.information .infoParti img {
    margin-bottom: 15px;
}

.information .infoParti div {
    margin-bottom: 10px;
    color: white;
    font-size: 27px;
    display: flex;
}

@media (max-width:767px) {
    .information .container {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .information .imageParti {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 70px;
    }
    .information .partiOne img {
        height: 88%;
    }
    .information .partiOne {
        width: 30%;
        height: 390px;
    }
    .information .partiTwo {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 14px;
    }
    .information .infoParti {
        width: 100%;
    }
    .information .infoParti img {
        height: 2rem;
        width: 2rem;
        margin-right: 7px;
    }
    .information .infoParti div {
        margin-bottom: 10px;
        color: white;
        font-size: 17px;
        display: flex;
        font-weight: bold;
    }
}